body {
    padding-top: 75px;
}

ul.checkbox {
    list-style: none;
    height: 60px;
    overflow: auto;
    border: 1px solid gray;
}

ul.checkbox li{
    display: inline-block;
    width: 150px;
}

.resource {
    border: 1px solid lightgray;
    margin-bottom: 5px;
}

.input-group {
    width: 100%;
}

select.resources-list {
    width: 80%;
}

input.field-name, input.group-name {
    pointer-events: none;
    background-color: #d9edf7;
    border: none;
}

input.group-name{
    background-color: #337ab7;
}

.form-btns {
    width: 100%;
    text-align: right;
    padding: 5px;
}

.form-btns .btn {
    float: right;
}

.group {
    border: 1px solid #337ab7;
}
